### Analyze and understand the relationship between various urban factors and the happiness of a city's population using Reinforcement Learning

In [1]:
import pandas as pd

C:\Users\ikry\AppData\Local\Temp\ipykernel_11900\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
train_data = pd.read_csv("C:/Users/ikry/OneDrive/Desktop/MSc DS/PROJECTS/city_happiness_index/train.csv")
test_data = pd.read_csv("C:/Users/ikry/OneDrive/Desktop/MSc DS/PROJECTS/city_happiness_index/test.csv")

train = train_data.copy()
test = test_data.copy()

train.describe()

,Year,Decibel_Level,Green_Space_Area,Air_Quality_Index,Happiness_Score,Cost_of_Living_Index,Healthcare_Index
count,51.0,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,2030.0,63.333333,46.666667,66.666667,6.919608,83.823529,83.705882
std,0.0,8.103497,20.116328,41.432676,1.265546,24.074639,12.954218
min,2030.0,50.000000,10.000000,25.000000,3.900000,35.000000,43.000000
25%,2030.0,57.500000,32.500000,40.000000,6.350000,65.000000,74.500000
50%,2030.0,60.000000,45.000000,55.000000,7.300000,85.000000,88.000000
75%,2030.0,70.000000,62.500000,77.500000,7.850000,102.500000,93.500000
max,2030.0,85.000000,80.000000,220.000000,8.700000,130.000000,104.000000

In [5]:
test.describe()

,Year,Decibel_Level,Green_Space_Area,Air_Quality_Index,Happiness_Score,Cost_of_Living_Index,Healthcare_Index
count,51.0,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,2030.0,63.333333,46.666667,66.666667,6.919608,83.823529,83.705882
std,0.0,8.103497,20.116328,41.432676,1.265546,24.074639,12.954218
min,2030.0,50.000000,10.000000,25.000000,3.900000,35.000000,43.000000
25%,2030.0,57.500000,32.500000,40.000000,6.350000,65.000000,74.500000
50%,2030.0,60.000000,45.000000,55.000000,7.300000,85.000000,88.000000
75%,2030.0,70.000000,62.500000,77.500000,7.850000,102.500000,93.500000
max,2030.0,85.000000,80.000000,220.000000,8.700000,130.000000,104.000000